# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pyclass

# Virtual Environment
.venv/
venv/
env/

# IDE & OS
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# Project-specific directories
source/1[0-9]/
source_no_meta/
processed/
debug/

# Keep template/example
!source/example/